<html>
  <body>
    <h1>Tic-Tac-Toe</h1>
    <a href="#" data-role='cell'>#</a>
    <a href="#" data-role='cell'>#</a>
    <a href="#" data-role='cell'>#</a>
    <a href="#" data-role='cell'>#</a>
    <a href="#" data-role='cell'>#</a>
    <a href="#" data-role='cell'>#</a>
    <a href="#" data-role='cell'>#</a>
    <a href="#" data-role='cell'>#</a>
    <a href="#" data-role='cell'>#</a>
  </body>
</html>
